// Variables de bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";





$primary: #eba93f; 
$body-bg: #f8f9fa; 
$bs-primary: #fd0db5;



.custom-style {
  color: $primary;
  font-size: 1.2rem;
} 


a.text-dark i {
  transition: transform 0.3s ease, color 0.3s ease;
}

a.text-dark:hover i {
  color: #007bff;
  transform: scale(1.1); 
}

/* Hover en los iconos */
a.text-dark i {
  transition: transform 0.3s ease, color 0.3s ease;
}

a.text-dark:hover i {
  color: #007bff; 
  transform: scale(1.1); 
}


.navbar a.text-dark {
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar a.text-dark:hover {
  color: #007bff; 
  border-bottom: 2px solid #007bff; 
}

#carouselOfertas .card {
  --bs-card-border-width: 0; 
  --bs-card-border-color: transparent; 
  --bs-card-box-shadow: none; 
  
}


button.carousel-control-prev,
button.carousel-control-next {
  color: #000; 
}


button.carousel-control-prev:hover,
button.carousel-control-next:hover {
  color: $gray-800; 
}

button.carousel-control-prev:focus,
button.carousel-control-next:focus {
  color: $gray-700; 
}

button.carousel-control-prev:active,
button.carousel-control-next:active {
  color: $gray-800;
}


button.carousel-control-prev {
  left: -100px;
}

button.carousel-control-next {
  right: -100px;
}

#bannerHeader {
  background-color:$dark;
}


#carouselOfertas {
  position: relative;
}


#footer {
  --bs-navbar-padding-y: 0;
  background: #032830;

}

